*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.response-container{
    width: 100%;
    height: 100%;
   background-color: aqua;
   display: flex;
   align-items: center;
   justify-content: center;
}

.response-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(189, 189, 175);
  width: 80%;
}

ul > li {
  list-style: none;
  padding: 10px 0px;
}

input{
  border: none;
  width: 60%;
  white-space: normal !important; 
  font-size: 16px;
  font-weight: 700;
  caret-color: #C2002E;
}

.characters{
  color: #007B8F;
}

.add-delete-Response-btn-disable{
  color: #7C8C93;
  border-color: 2px solid #7C8C93;
  padding: 7px;
  background-color: transparent;
  border-radius: 12px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.todo{
  width: 60%;
  font-size: 18px;
  font-weight: 700;
  overflow-wrap: break-word;
}

input:focus {
  outline: none;
  border: none;
}

.input-btns:focus-within {
  border: 2px solid #007B8F; /* Add your desired blue color here */
}


.grey{
  background-color: gray;
  opacity: 0.7;
}



.edit-Response-btn{
  background-color: #C2002E;
  padding: 7px;
  color: #ffffff;
  border: 2px solid #C2002E;
  border-radius: 12px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.add-delete-Response-btn{
  padding: 7px;
  background-color: #ffffff;
  border: #C2002E solid 2px;
  border-radius: 12px;
  color: #C2002E;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.response-list{
  width: 80%;
}

.response-input{
  width: 80%;
  overflow-x: hidden;
}

.input-btns{
  width: 100%;
  padding: 16px 24px 16px 24px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-add-btn{
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 767px) {
  .response-body {
    width: 80%;
  }

  input {
    width: 100%;
  }

  .response-input {
    width: 100%;
  }

  .response-list {
    width: 100%;
  }

  .input-btns {
    flex-wrap: wrap;
    gap: 10px;
  }
  .todo{
    width: 100%;
  }

}